<!-- Slider main container -->
<div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container_slide1">
            <div><h1>learn more about me</h1></div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container_slide2">
          <h1>skills and experiance</h1>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container-slide3">
            <div><h1>projects</h1></div>
          </div>



        </div>
        <div class="swiper-slide">
          <div class="container-slide4">
           <h1>feel free to contact me</h1>


          </div>


        </div>
      </div>
      <div class="swiper-pagination"></div>
</div>
