<!-- Slider main container -->
<div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="container_slide1">
            <div class="rectangle">
              <div class="components_1">
                <h1 class="title">Hello,</h1>
                <h3>I am <span class="cs">Cedric Sambat</span> from Mauritius.</h3>
                <p>I'm an enthusiastic web developer. My goal is to build and manage applications and websites. One of my objectives is to further advance my web development knowledge.</p>
              </div>
              <div class="rec_2"></div>
              <div class="rec_3"></div>
              <div class="rec_img">
                <img src="https://res.cloudinary.com/dfz9nuknq/image/upload/v1668581286/my_profile/IMG_20191008_205106_710_ldcx3h.jpg" alt="ced">
              </div>
            </div>
            <div class="rectangle_2">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="1920" height="560" preserveAspectRatio="none" viewBox="0 0 1920 560">
                <g mask="url(&quot;#SvgjsMask1016&quot;)" fill="none">
                    <rect width="1920" height="560" x="0" y="0" fill="rgba(159, 159, 159, 1)"></rect>
                    <path d="M-39.79 409.82L-39.79 409.82" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M-39.79 409.82L110.41 402.49" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M-39.79 409.82L-104.7 548.8" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M-39.79 409.82L62.2 532.13" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M-104.7 548.8L-104.7 548.8" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M-104.7 548.8L-54.91 689.07" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M-104.7 548.8L62.2 532.13" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M-54.91 689.07L-54.91 689.07" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M-54.91 689.07L92.63 700.3" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M-54.91 689.07L62.2 532.13" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M110.41 402.49L110.41 402.49" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M110.41 402.49L62.2 532.13" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M110.41 402.49L251.97 361.97" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M110.41 402.49L236.33 493" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M62.2 532.13L62.2 532.13" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M62.2 532.13L92.63 700.3" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M62.2 532.13L236.33 493" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M92.63 700.3L92.63 700.3" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M92.63 700.3L228.48 670.25" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M92.63 700.3L-104.7 548.8" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M92.63 700.3L236.33 493" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M92.63 700.3L110.41 402.49" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M251.97 361.97L251.97 361.97" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M251.97 361.97L236.33 493" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M251.97 361.97L397.77 359.79" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M236.33 493L236.33 493" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M236.33 493L390.13 493.19" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M236.33 493L228.48 670.25" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M228.48 670.25L228.48 670.25" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M397.77 359.79L397.77 359.79" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M397.77 359.79L390.13 493.19" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M397.77 359.79L500.93 536.98" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M397.77 359.79L236.33 493" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M390.13 493.19L390.13 493.19" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M390.13 493.19L500.93 536.98" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M403.36 692.53L403.36 692.53" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M403.36 692.53L496.24 641.2" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M403.36 692.53L228.48 670.25" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M500.93 536.98L500.93 536.98" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M500.93 536.98L496.24 641.2" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M500.93 536.98L403.36 692.53" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M500.93 536.98L697.54 540.18" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M496.24 641.2L496.24 641.2" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M496.24 641.2L390.13 493.19" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M496.24 641.2L685.97 674.86" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M496.24 641.2L697.54 540.18" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M496.24 641.2L228.48 670.25" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M681.56 370.86L681.56 370.86" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M681.56 370.86L797.9 372.84" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M681.56 370.86L697.54 540.18" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M681.56 370.86L815.78 499.94" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M681.56 370.86L500.93 536.98" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M697.54 540.18L697.54 540.18" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M697.54 540.18L815.78 499.94" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M697.54 540.18L685.97 674.86" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M697.54 540.18L797.9 372.84" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M685.97 674.86L685.97 674.86" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M685.97 674.86L851.84 702.3" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M685.97 674.86L815.78 499.94" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M685.97 674.86L500.93 536.98" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M685.97 674.86L403.36 692.53" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M797.9 372.84L797.9 372.84" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M797.9 372.84L815.78 499.94" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M797.9 372.84L947.55 405.38" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M815.78 499.94L815.78 499.94" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M851.84 702.3L851.84 702.3" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M851.84 702.3L1011.03 665.23" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M851.84 702.3L963.81 556.41" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M957.71 243.12L957.71 243.12" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M957.71 243.12L1108.91 214.79" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M957.71 243.12L947.55 405.38" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M957.71 243.12L797.9 372.84" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M957.71 243.12L1115.73 386.3" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M957.71 243.12L815.78 499.94" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M957.71 243.12L1260.35 259.43" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M947.55 405.38L947.55 405.38" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M947.55 405.38L963.81 556.41" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M947.55 405.38L815.78 499.94" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M963.81 556.41L963.81 556.41" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M963.81 556.41L1011.03 665.23" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M963.81 556.41L815.78 499.94" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1011.03 665.23L1011.03 665.23" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1011.03 665.23L1089.3 675.97" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1011.03 665.23L1123.84 514.93" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1011.03 665.23L815.78 499.94" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1011.03 665.23L947.55 405.38" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1108.91 214.79L1108.91 214.79" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1108.91 214.79L1260.35 259.43" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1108.91 214.79L1115.73 386.3" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1108.91 214.79L1276.42 398.4" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1115.73 386.3L1115.73 386.3" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1115.73 386.3L1123.84 514.93" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1115.73 386.3L1276.42 398.4" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1115.73 386.3L947.55 405.38" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1123.84 514.93L1123.84 514.93" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1123.84 514.93L1247.82 494.39" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1123.84 514.93L1089.3 675.97" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1123.84 514.93L963.81 556.41" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1089.3 675.97L1089.3 675.97" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1089.3 675.97L963.81 556.41" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1089.3 675.97L1289.22 664.59" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1285.69 -80L1285.69 -80" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1285.69 -80L1291.35 42.21" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1285.69 -80L1404.84 -111.85" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1291.35 42.21L1291.35 42.21" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1291.35 42.21L1405.6 74.84" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1291.35 42.21L1404.84 -111.85" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1291.35 42.21L1260.35 259.43" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1260.35 259.43L1260.35 259.43" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1260.35 259.43L1276.42 398.4" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1260.35 259.43L1440.26 261.97" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1260.35 259.43L1115.73 386.3" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1276.42 398.4L1276.42 398.4" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1276.42 398.4L1247.82 494.39" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1276.42 398.4L1395.42 404.14" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1276.42 398.4L1123.84 514.93" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1247.82 494.39L1247.82 494.39" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1289.22 664.59L1289.22 664.59" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1289.22 664.59L1433.35 691.5" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1289.22 664.59L1247.82 494.39" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1289.22 664.59L1446.56 538.04" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1404.84 -111.85L1404.84 -111.85" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1404.84 -111.85L1561.48 -90.26" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1404.84 -111.85L1405.6 74.84" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1405.6 74.84L1405.6 74.84" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1405.6 74.84L1551.06 53.86" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1405.6 74.84L1440.26 261.97" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1440.26 261.97L1440.26 261.97" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1440.26 261.97L1545.62 257.46" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1440.26 261.97L1395.42 404.14" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1440.26 261.97L1591.4 379.22" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1395.42 404.14L1395.42 404.14" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1395.42 404.14L1446.56 538.04" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1395.42 404.14L1247.82 494.39" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1446.56 538.04L1446.56 538.04" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1446.56 538.04L1558.91 516.58" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1446.56 538.04L1549.18 650.35" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1433.35 691.5L1433.35 691.5" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1433.35 691.5L1549.18 650.35" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1433.35 691.5L1446.56 538.04" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1433.35 691.5L1558.91 516.58" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1433.35 691.5L1247.82 494.39" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1561.48 -90.26L1561.48 -90.26" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1561.48 -90.26L1698.3 -99.02" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1561.48 -90.26L1551.06 53.86" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1561.48 -90.26L1405.6 74.84" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1561.48 -90.26L1752.06 92.39" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1561.48 -90.26L1285.69 -80" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1551.06 53.86L1551.06 53.86" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1551.06 53.86L1545.62 257.46" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1545.62 257.46L1545.62 257.46" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1545.62 257.46L1591.4 379.22" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1545.62 257.46L1702.33 211.18" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1591.4 379.22L1591.4 379.22" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1591.4 379.22L1720.35 377.07" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1591.4 379.22L1558.91 516.58" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1558.91 516.58L1558.91 516.58" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1558.91 516.58L1549.18 650.35" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1558.91 516.58L1697.87 525.78" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1549.18 650.35L1549.18 650.35" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1549.18 650.35L1697.87 525.78" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1549.18 650.35L1289.22 664.59" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1549.18 650.35L1591.4 379.22" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1698.3 -99.02L1698.3 -99.02" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1698.3 -99.02L1888.18 -82.36" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1698.3 -99.02L1752.06 92.39" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1698.3 -99.02L1551.06 53.86" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1752.06 92.39L1752.06 92.39" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1752.06 92.39L1864.37 110.26" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1752.06 92.39L1702.33 211.18" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1702.33 211.18L1702.33 211.18" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1702.33 211.18L1864.53 220.01" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1720.35 377.07L1720.35 377.07" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1720.35 377.07L1697.87 525.78" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1720.35 377.07L1702.33 211.18" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1697.87 525.78L1697.87 525.78" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1697.87 525.78L1872.92 500.1" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1888.18 -82.36L1888.18 -82.36" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1888.18 -82.36L1864.37 110.26" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1888.18 -82.36L2002.87 102.74" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1888.18 -82.36L1752.06 92.39" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1888.18 -82.36L1864.53 220.01" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1888.18 -82.36L1561.48 -90.26" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1864.37 110.26L1864.37 110.26" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1864.37 110.26L1864.53 220.01" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1864.37 110.26L2002.87 102.74" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1864.37 110.26L1702.33 211.18" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1864.53 220.01L1864.53 220.01" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1872.92 500.1L1872.92 500.1" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1872.92 500.1L2019.73 507.23" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1872.92 500.1L1991.08 395.07" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1902.4 696.46L1902.4 696.46" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1902.4 696.46L1990.36 694.74" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1902.4 696.46L1872.92 500.1" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1902.4 696.46L2019.73 507.23" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1902.4 696.46L1697.87 525.78" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1902.4 696.46L1991.08 395.07" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M2002.87 102.74L2002.87 102.74" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M2002.87 102.74L2013.11 235.33" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M2002.87 102.74L1864.53 220.01" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M2013.11 235.33L2013.11 235.33" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M2013.11 235.33L1864.53 220.01" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1991.08 395.07L1991.08 395.07" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1991.08 395.07L2019.73 507.23" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1991.08 395.07L2013.11 235.33" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M2019.73 507.23L2019.73 507.23" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M2019.73 507.23L1990.36 694.74" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M2019.73 507.23L2013.11 235.33" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M2019.73 507.23L1697.87 525.78" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <path d="M1990.36 694.74L1990.36 694.74" stroke="rgba(61, 65, 75, 1)" stroke-width="1.5"></path>
                    <circle r="5" cx="-39.79" cy="409.82" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="-104.7" cy="548.8" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="-54.91" cy="689.07" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="110.41" cy="402.49" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="62.2" cy="532.13" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="92.63" cy="700.3" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="251.97" cy="361.97" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="236.33" cy="493" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="228.48" cy="670.25" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="397.77" cy="359.79" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="390.13" cy="493.19" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="403.36" cy="692.53" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="500.93" cy="536.98" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="496.24" cy="641.2" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="681.56" cy="370.86" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="697.54" cy="540.18" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="685.97" cy="674.86" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="797.9" cy="372.84" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="815.78" cy="499.94" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="851.84" cy="702.3" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="957.71" cy="243.12" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="947.55" cy="405.38" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="963.81" cy="556.41" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1011.03" cy="665.23" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1108.91" cy="214.79" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1115.73" cy="386.3" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1123.84" cy="514.93" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1089.3" cy="675.97" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1285.69" cy="-80" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1291.35" cy="42.21" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1260.35" cy="259.43" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1276.42" cy="398.4" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1247.82" cy="494.39" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1289.22" cy="664.59" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1404.84" cy="-111.85" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1405.6" cy="74.84" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1440.26" cy="261.97" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1395.42" cy="404.14" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1446.56" cy="538.04" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1433.35" cy="691.5" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1561.48" cy="-90.26" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1551.06" cy="53.86" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1545.62" cy="257.46" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1591.4" cy="379.22" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1558.91" cy="516.58" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1549.18" cy="650.35" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1698.3" cy="-99.02" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1752.06" cy="92.39" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1702.33" cy="211.18" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1720.35" cy="377.07" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1697.87" cy="525.78" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1888.18" cy="-82.36" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1864.37" cy="110.26" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1864.53" cy="220.01" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1872.92" cy="500.1" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1902.4" cy="696.46" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="2002.87" cy="102.74" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="2013.11" cy="235.33" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1991.08" cy="395.07" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="2019.73" cy="507.23" fill="rgba(61, 65, 75, 1)"></circle>
                    <circle r="5" cx="1990.36" cy="694.74" fill="rgba(61, 65, 75, 1)"></circle>
                    <path d="M-87.61 664.95L-87.61 664.95" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M-87.61 664.95L-70.26 521.59" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M-87.61 664.95L51.75 557.01" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M-87.61 664.95L189.8 549.62" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M-87.61 664.95L375.95 690.26" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M-87.61 664.95L364.34 539" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M-87.61 664.95L494.3 535.45" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M364.34 539L364.34 539" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M364.34 539L494.3 535.45" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M364.34 539L375.95 690.26" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M364.34 539L189.8 549.62" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M494.3 535.45L494.3 535.45" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M494.3 535.45L509.34 684.12" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M494.3 535.45L681.2 510.08" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M494.3 535.45L375.95 690.26" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M494.3 535.45L660.96 637.82" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1111.11 374.53L1111.11 374.53" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1111.11 374.53L1278.53 406.67" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1111.11 374.53L1123.45 548.28" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1111.11 374.53L944.18 491.09" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1115.46 660.73L1115.46 660.73" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1115.46 660.73L1123.45 548.28" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1115.46 660.73L999.91 663.52" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1115.46 660.73L1248.97 702.77" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1248.97 702.77L1248.97 702.77" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1248.97 702.77L1389.76 677.19" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1248.97 702.77L1261.52 520.39" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1248.97 702.77L1123.45 548.28" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1416.16 492.32L1416.16 492.32" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1416.16 492.32L1457.11 378.72" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1416.16 492.32L1553.58 527.95" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1695 549.86L1695 549.86" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1695 549.86L1553.58 527.95" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1695 549.86L1720.51 705.21" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M2054.51 97.74L2054.51 97.74" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M2054.51 97.74L2033.56 213.09" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M2054.51 97.74L1892.41 59.87" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M2047.29 559.38L2047.29 559.38" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M2047.29 559.38L1993.49 692.02" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M2047.29 559.38L1995.23 393.3" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M-70.26 521.59L-70.26 521.59" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M-70.26 521.59L51.75 557.01" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M-70.26 521.59L189.8 549.62" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M-70.26 521.59L364.34 539" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M51.75 557.01L51.75 557.01" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M51.75 557.01L189.8 549.62" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M189.8 549.62L189.8 549.62" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M189.8 549.62L375.95 690.26" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M375.95 690.26L375.95 690.26" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M375.95 690.26L509.34 684.12" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M509.34 684.12L509.34 684.12" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M509.34 684.12L660.96 637.82" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M509.34 684.12L364.34 539" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M509.34 684.12L681.2 510.08" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M681.2 510.08L681.2 510.08" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M681.2 510.08L800.88 530.85" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M681.2 510.08L660.96 637.82" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M660.96 637.82L660.96 637.82" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M810.85 381.01L810.85 381.01" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M810.85 381.01L800.88 530.85" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M810.85 381.01L944.18 491.09" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M810.85 381.01L681.2 510.08" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M810.85 381.01L841.46 676.47" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M810.85 381.01L660.96 637.82" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M800.88 530.85L800.88 530.85" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M800.88 530.85L944.18 491.09" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M841.46 676.47L841.46 676.47" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M841.46 676.47L800.88 530.85" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M841.46 676.47L999.91 663.52" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M841.46 676.47L660.96 637.82" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M841.46 676.47L944.18 491.09" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M841.46 676.47L681.2 510.08" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M841.46 676.47L1115.46 660.73" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M944.18 491.09L944.18 491.09" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M999.91 663.52L999.91 663.52" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M999.91 663.52L1123.45 548.28" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M999.91 663.52L944.18 491.09" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1123.45 548.28L1123.45 548.28" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1123.45 548.28L1261.52 520.39" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1278.53 406.67L1278.53 406.67" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1278.53 406.67L1261.52 520.39" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1278.53 406.67L1416.16 492.32" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1278.53 406.67L1457.11 378.72" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1278.53 406.67L1123.45 548.28" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1261.52 520.39L1261.52 520.39" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1261.52 520.39L1416.16 492.32" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1436.67 255.84L1436.67 255.84" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1436.67 255.84L1457.11 378.72" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1436.67 255.84L1590.1 238.74" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1436.67 255.84L1278.53 406.67" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1457.11 378.72L1457.11 378.72" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1457.11 378.72L1553.58 527.95" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1457.11 378.72L1590.1 238.74" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1457.11 378.72L1261.52 520.39" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1389.76 677.19L1389.76 677.19" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1389.76 677.19L1416.16 492.32" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1389.76 677.19L1261.52 520.39" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1389.76 677.19L1553.58 527.95" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1603.94 -94.86L1603.94 -94.86" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1603.94 -94.86L1739.92 -46.63" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1603.94 -94.86L1724.44 107.7" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1603.94 -94.86L1874.58 -97.92" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1603.94 -94.86L1892.41 59.87" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1590.1 238.74L1590.1 238.74" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1590.1 238.74L1710.48 375.04" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1590.1 238.74L1724.44 107.7" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1553.58 527.95L1553.58 527.95" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1553.58 527.95L1611.86 712.18" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1553.58 527.95L1710.48 375.04" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1611.86 712.18L1611.86 712.18" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1611.86 712.18L1720.51 705.21" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1611.86 712.18L1695 549.86" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1611.86 712.18L1389.76 677.19" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1739.92 -46.63L1739.92 -46.63" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1739.92 -46.63L1874.58 -97.92" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1739.92 -46.63L1724.44 107.7" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1739.92 -46.63L1892.41 59.87" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1724.44 107.7L1724.44 107.7" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1724.44 107.7L1892.41 59.87" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1724.44 107.7L1910.52 187.77" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1710.48 375.04L1710.48 375.04" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1710.48 375.04L1858.34 370.91" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1720.51 705.21L1720.51 705.21" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1720.51 705.21L1886.27 669.42" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1720.51 705.21L1871.83 554.8" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1720.51 705.21L1553.58 527.95" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1720.51 705.21L1993.49 692.02" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1874.58 -97.92L1874.58 -97.92" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1874.58 -97.92L2017.4 -82" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1874.58 -97.92L1892.41 59.87" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1892.41 59.87L1892.41 59.87" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1892.41 59.87L1910.52 187.77" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1910.52 187.77L1910.52 187.77" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1910.52 187.77L2033.56 213.09" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1910.52 187.77L2054.51 97.74" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1910.52 187.77L1858.34 370.91" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1858.34 370.91L1858.34 370.91" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1858.34 370.91L1995.23 393.3" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1871.83 554.8L1871.83 554.8" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1871.83 554.8L1886.27 669.42" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1871.83 554.8L2047.29 559.38" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1886.27 669.42L1886.27 669.42" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1886.27 669.42L1993.49 692.02" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1886.27 669.42L2047.29 559.38" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M2017.4 -82L2017.4 -82" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M2033.56 213.09L2033.56 213.09" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M2033.56 213.09L1995.23 393.3" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M2033.56 213.09L1892.41 59.87" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1995.23 393.3L1995.23 393.3" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1995.23 393.3L1871.83 554.8" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1995.23 393.3L1910.52 187.77" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1993.49 692.02L1993.49 692.02" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <path d="M1993.49 692.02L1871.83 554.8" stroke="hsl(64.30000000000001, 100%, 98.1%)" stroke-width="1.5"></path>
                    <circle r="25" cx="-87.61" cy="664.95" fill="url(#SvgjsRadialGradient1017)"></circle>
                    <circle r="25" cx="364.34" cy="539" fill="url(#SvgjsRadialGradient1017)"></circle>
                    <circle r="25" cx="494.3" cy="535.45" fill="url(#SvgjsRadialGradient1017)"></circle>
                    <circle r="25" cx="1111.11" cy="374.53" fill="url(#SvgjsRadialGradient1017)"></circle>
                    <circle r="25" cx="1115.46" cy="660.73" fill="url(#SvgjsRadialGradient1017)"></circle>
                    <circle r="25" cx="1248.97" cy="702.77" fill="url(#SvgjsRadialGradient1017)"></circle>
                    <circle r="25" cx="1416.16" cy="492.32" fill="url(#SvgjsRadialGradient1017)"></circle>
                    <circle r="25" cx="1695" cy="549.86" fill="url(#SvgjsRadialGradient1017)"></circle>
                    <circle r="25" cx="2054.51" cy="97.74" fill="url(#SvgjsRadialGradient1017)"></circle>
                    <circle r="25" cx="2047.29" cy="559.38" fill="url(#SvgjsRadialGradient1017)"></circle>
                    <circle r="5" cx="-70.26" cy="521.59" fill="#fbffc1"></circle>
                    <circle r="5" cx="51.75" cy="557.01" fill="#fbffc1"></circle>
                    <circle r="5" cx="189.8" cy="549.62" fill="#fbffc1"></circle>
                    <circle r="5" cx="375.95" cy="690.26" fill="#fbffc1"></circle>
                    <circle r="5" cx="509.34" cy="684.12" fill="#fbffc1"></circle>
                    <circle r="5" cx="681.2" cy="510.08" fill="#fbffc1"></circle>
                    <circle r="5" cx="660.96" cy="637.82" fill="#fbffc1"></circle>
                    <circle r="5" cx="810.85" cy="381.01" fill="#fbffc1"></circle>
                    <circle r="5" cx="800.88" cy="530.85" fill="#fbffc1"></circle>
                    <circle r="5" cx="841.46" cy="676.47" fill="#fbffc1"></circle>
                    <circle r="5" cx="944.18" cy="491.09" fill="#fbffc1"></circle>
                    <circle r="5" cx="999.91" cy="663.52" fill="#fbffc1"></circle>
                    <circle r="5" cx="1123.45" cy="548.28" fill="#fbffc1"></circle>
                    <circle r="5" cx="1278.53" cy="406.67" fill="#fbffc1"></circle>
                    <circle r="5" cx="1261.52" cy="520.39" fill="#fbffc1"></circle>
                    <circle r="5" cx="1436.67" cy="255.84" fill="#fbffc1"></circle>
                    <circle r="5" cx="1457.11" cy="378.72" fill="#fbffc1"></circle>
                    <circle r="5" cx="1389.76" cy="677.19" fill="#fbffc1"></circle>
                    <circle r="5" cx="1603.94" cy="-94.86" fill="#fbffc1"></circle>
                    <circle r="5" cx="1590.1" cy="238.74" fill="#fbffc1"></circle>
                    <circle r="5" cx="1553.58" cy="527.95" fill="#fbffc1"></circle>
                    <circle r="5" cx="1611.86" cy="712.18" fill="#fbffc1"></circle>
                    <circle r="5" cx="1739.92" cy="-46.63" fill="#fbffc1"></circle>
                    <circle r="5" cx="1724.44" cy="107.7" fill="#fbffc1"></circle>
                    <circle r="5" cx="1710.48" cy="375.04" fill="#fbffc1"></circle>
                    <circle r="5" cx="1720.51" cy="705.21" fill="#fbffc1"></circle>
                    <circle r="5" cx="1874.58" cy="-97.92" fill="#fbffc1"></circle>
                    <circle r="5" cx="1892.41" cy="59.87" fill="#fbffc1"></circle>
                    <circle r="5" cx="1910.52" cy="187.77" fill="#fbffc1"></circle>
                    <circle r="5" cx="1858.34" cy="370.91" fill="#fbffc1"></circle>
                    <circle r="5" cx="1871.83" cy="554.8" fill="#fbffc1"></circle>
                    <circle r="5" cx="1886.27" cy="669.42" fill="#fbffc1"></circle>
                    <circle r="5" cx="2017.4" cy="-82" fill="#fbffc1"></circle>
                    <circle r="5" cx="2033.56" cy="213.09" fill="#fbffc1"></circle>
                    <circle r="5" cx="1995.23" cy="393.3" fill="#fbffc1"></circle>
                    <circle r="5" cx="1993.49" cy="692.02" fill="#fbffc1"></circle>
                </g>
                    <defs>
                        <mask id="SvgjsMask1016">
                            <rect width="1920" height="560" fill="#ffffff"></rect>
                        </mask>
                        <radialGradient id="SvgjsRadialGradient1017">
                            <stop stop-color="#ffffff" offset="0.1"></stop>
                            <stop stop-color="rgba(246, 255, 130, 1)" offset="0.2"></stop>
                            <stop stop-color="rgba(246, 255, 130, 0)" offset="1"></stop>
                        </radialGradient>
                    </defs>
              </svg>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container_slide2">
          <h1>skills and experiance</h1>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="container-slide3">
            <div><h1>projects</h1></div>
          </div>



        </div>
        <div class="swiper-slide">
          <div class="container-slide4">
           <h1>feel free to contact me</h1>


          </div>


        </div>
      </div>
      <div class="swiper-pagination"></div>
</div>
