::-webkit-scrollbar {
  display: none;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: aqua;

  // .pro_container {
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgb(0, 50, 33);
  //   scroll-snap-type: y proximity;
  //   overflow-y: scroll;

  //   section {
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     width: 100vw;
  //     height: 100vh;
  //     scroll-snap-align: start;

  //     &:nth-of-type(1) {
  //       background-color: rgb(167, 239, 253);
  //       color: rgb(34, 252, 0);
  //     }

  //     &:nth-of-type(2) {
  //       background-color: rgb(220, 63, 255);
  //       color: rgb(233, 52, 52);
  //     }

  //     &:nth-of-type(3) {
  //       background-color: rgb(71, 243, 52);
  //       color: rgb(0, 4, 255);
  //     }
  //   }
  // }

}
//dsv

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination{
  position: relative;
}
