.container_s3{
height: 100%;
width: 100%;
background-color: #222222;
display: flex;
}
.title_project{
  width: 40%;
  height: 50%;
padding: 10px;
}
.title_project h1{
  font-size: 120px;
  font-weight: 500;
  font-family: 'youth power';
  letter-spacing: 5px;
  color: #fff;
  text-align: center;
}
.img{
  height: 90%;
  width: 50%;
}
.wrapper_projects{
  margin-left: 25%;
  margin-top: 3%;
  display: flex;
}
.img img{
  height: 100%;
  width: 200%;
  border-radius: 18px;
}
.des_wraper{
  top: 48%;
  position: absolute;
  left: 7%;
}
