.container-slide4{
  height: 100%;
  width: 100%;
  background-color: #222222;
}
.titile h1{
  font-size: 120px;
  font-weight: 500;
  font-family: 'youth power';
  letter-spacing: 5px;
  color: #fff;
  text-align: center;
}
.my_contact{
  width: 50%;
  height: 50%;
  background-color: #ff4b41;
  margin: 0 auto;
  border-radius: 10px;
}
.anima{
width: 40%;
height: 150%;
background-color: blueviolet;
}
.contact_wrapper{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.titile{
  width: 50%;
  height: 50%;
  margin: 0 auto;
}
.box{
  width: 471px;
  height: 316px;
  border-radius: 15px;
  transition: transform 500ms ease-in-out;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.description h1{
  font-family: 'youth power';
  color: #F6FF82;

}
.my_contact h1{
  font-family: 'youth power';
  color: #F6FF82;
}
.my_contact ul{
  margin: 10px;
}
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
