@font-face {
  font-family: 'youth power';
  src: url('Youth Power.ttf');
}
@font-face {
  font-family: 'Louis George Cafe';
  src: url('Louis George Cafe.ttf');
}
.rectangle{
  background-color: #222222;
  border: 1px none;
  height: 50%;
  left: 0;
  position: absolute;
  width: 100%;
  display: flex;
}
//text font
.components_1 h1, h3, p {
  color: white;
}
.components_1 h3{
  font-family: 'youth power';
  letter-spacing: 3px;
  font-size: 45px;
}
.components_1 h1{
  font-size: 120px;
  font-weight: 500;
  font-family: 'youth power';
  letter-spacing: 5px;
}
.cs{
  color:#F6FF82;
}
.components_1{
  display: flex;
    align-items: flex-start;
    align-content: stretch;
    flex-direction: column;
    max-width: 53%;
    margin-top: 36px;
    margin-left: 38px;
}
.components_1 p{
  text-align: -webkit-left;
  font-size: 20px;
  // font-family: 'youth power';
  letter-spacing: 3px;
}
.rec_2{
  background-color: #F6FF82;
  height: 62%;
  width: 30%;
  border-radius: 15px;
  transform: rotate(90deg);
  margin-left: auto;
}
.rec_3{
  background-color: #3C3C3C;
  height: 62%;
  width: 20%;
  border-radius: 15px;
  margin-top: 5%;
}
.rec_img img{
  height: 250px;
  left: 1080px;
  position: absolute;
  top: 190px;
  width: 250px;
  border-radius: 15px;
}
//rec2
.rectangle_2{
  margin-top: 24%;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.container_slide1{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
// cards
.cards{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}
.wrapper_c{
  display: grid;
  grid-template-columns: repeat(3, 1fr) ;
  grid-gap: 30px;
  margin-top: 100px;
}
.wrapper_c .box{
  width: 250px;
  height: 250px;
  border-radius: 15px;
  transition: transform 500ms ease-in-out;
  overflow: hidden;
  color: #fff;
  padding: 5%;
  text-align: center;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blue;
  border: 2px solid rgba(255,255,255,0.1);
}
.box h2{
  font-size: 25px;
  margin-bottom: 30px;
  color: rgba(255,255,255,0.7);
}
.box p{
  line-height: 1.9;
  color: #fff;
}
//media queries
@media screen and (max-width: 600px){
  .components_1 h1 {
    font-size: 380%;
  }
  .components_1 h3 {
    font-size: 84%;
    margin-left: -12px;
  }
  .components_1 p {
    font-size: 65%;
  }
  .components_1{
    display: flex;
    align-items: flex-start;
    align-content: stretch;
    flex-direction: column;
    margin-top: 26px;
    margin-left: 15px;
  }
.rec_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rec_img img{
  height: 112px;
  top: 190px;
  width: 125px;
  border-radius: 15px;
  position:unset;
}
.rectangle_2{
  margin-top: 108%;
  height: 50%;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.rec_2{
  height: 30%;
  position: absolute;
  left: 55%;
  top: -5%;
}
.rec_3{
  height: 23%;
  position: absolute;
  top: 7%;
  left: 74%;
  width: 43%;}
}
